:root{
    --bg:#463333;
    --text:#fff0f0;
    --line:#ebd4d4;
    --last:#835858;
    --box-shadow:0 1px 5px rgba(250, 250, 230, 0.2), 0 1px 5px rgba(255, 255, 2555, 0.5);
}
body{
    font-family: "Viaode Libre", cursive;
    background-color: var(--bg);
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
}

.container{
     margin: 30px auto;
     width: 350px;
}

h1{
    letter-spacing: 1px;
    margin: 0;
}

h3{
    border-bottom: 1px solid;
    padding: 10px;
    margin: 40px 0 10px;

}

h4{
    margin: 0;
    text-transform: uppercase;
    color: var(--last);
}

.inc-exp-container{
    background-color: var(--line);
    padding: 20px;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between; /* After flexing, we need to create some space between the content, to create some space, we use the space-between option in nthe justify content, to create space around, we say the space around option */
    margin: 20px 0;
}


.inc-exp-container > div{
    flex: 1;
    text-align: center;
}

.inc-exp-container > div:first-of-type{
    border-right: 1px solid var( --last);

}

.money{
    font-size: 20px;
    letter-spacing: 1px;
    margin: 5px 0;
}

.money.plus{
    color: forestgreen;
}

.money.minus{
    color: crimson;
}

label{
    display: inline-block;
    margin: 10px 0;
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
}

input[type = "text"],
input[type = "number"]{
    width: 100%;
    padding: 10px;
    border: 1px solid var(--last);
    border-radius: 5px;
    display: block;
    font-size: 16px;

}
.btn{
    cursor: pointer;
    background-color: var(--line);
    color: var(--bg);
    box-shadow: var(--box-shadow);
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 10px 30px;
    padding: 10px;
    width: 100%;
    border-radius: 20%;
    box-sizing: border-box; /* Add this line */
}

.btn:focus,
.delete-btn:focus {
  outline: none; 
}


.list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
}
.list li{
    background-color: var(--text);
    color: var(--bg);
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
}
.list li.minus{
    border-right: 5px solid crimson;
}

.list li.plus{
    border-right: 5px solid forestgreen;
 }

 .delete-btn{
    font-size: 20px;
    position: absolute;
    border: 0;
    cursor: pointer;
    background-color: var(--line);
    line-height: 20px;
    padding: 2px 5px;
    top: 50%;
    left: 0;
    opacity: 0;
    transform: translate(-100% -50%);
    transition: opacity 0.3s ease-in ;
 }

 .list li:hover .delete-btn{
    opacity: 1;
 }